<%- include('../partials/header') %>
<div class="show">
  <section class="flights">
    <h1><%=flight.pilot%></h1>
    <div id="listeners-airing">
      <p>
        Making New Episodes? <% if (flight.newEpisodes) {%>
        <img
          id="checkmark"
          src="https://e7.pngegg.com/pngimages/325/286/png-clipart-check-mark-symbol-black-check-mark-angle-text-thumbnail.png"
        />
        Yes <%} else {%>
        <img
          id="xmark"
          src="https://img1.pnghut.com/6/4/3/CfmpYijLX6/black-and-white-icon-design-check-mark-area-cross.jpg"
        />
        No <%}%>
      </p>
    </div>

    <div class="flight-details">
      <p id="flight-description"><%=flight.description%></p>
      <table id="details-table">
        <tr>
          <th>Pilot</th>
          <td>
            <%flight.pilots.forEach(function(h) { %>
            <p><a class="grey-link" href="/pilots/<%=h._id%>"><%=h.name%></a></p>
            <%})%>
          </td>
        </tr>
        <th>Plane</th>
        <td><%=flight.plane%></td>
      </tr>
      <tr>
        <th>From</th>
        <td><%=flight.From%></td>
      </tr>
      <tr>
        <th>To</th>
        <td><%=flight.to%></td>
      </tr>
      <tr>
        <th>Date Of Flight</th>
        <td><%=flight.dateOfFlight%></td>
      </tr>
      </table>
    </div>
  </section>
  <section class="comments">
    <h1>Leave a Comment for <%=flight.pilot%></h1>
    <form action="/flights/<%=flight._id%>/comments" method="POST">
      <div class="comment-content-form">
        <label>What do you think of <%=flight.pilot%>?</label>
        <textarea class="comment-content" name="content"></textarea>
      </div>
      <br />
      <label>Rating </label>
      <select name="rating">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5" selected>5</option>
      </select>
      <br />
      <label>Would you recommend this flight?</label>
      <input type="checkbox" name="recommended" />
      <br />
      <input class="button" type="submit" value="Post Your Comment" />
    </form>
  </section>
</div>

<%- include('../partials/footer') %>