<%- include('../partials/header') %>
<div id="index">
  <h1 id="flights">Flights</h1>
  <%if(user){%>
  <div id="index-links">
    <a class="grey-link" href="/flights/new">Add Flight</a>
    <img id="logo-small" src="https://i.imgur.com/pSWmGwN.png" />
    <a class="grey-link" href="/pilotss/new">Add Pilot</a>
  </div>
  <% }%>
  <table>
    <thead>
      <th>Pilot</th>
      <th>Plane</th>
      <th>From</th>
      <th>To</th>
      <th>Followers</th>
      <th>Date Of Flight</th>
    </thead>
    <tbody>
      <% flights.forEach(function(p){%>
      <tr>
        <td>
          <a class="grey-link" href="/flights/<%=p._id%>"><%=p.pilot%></a>
        </td>
        <td><%=p.plane%></td>
        <% let sum = 0; %> <%p.comments.forEach(function(r) {%> <% return sum =
        (sum + r.rating)%> <% }) %> <% if (Math.floor(sum/p.comments.length) > 1)
        { %>
        <td><%=Math.floor(sum/p.comments.length)%></td>
        <% } else { %>
        <td>No comments Yet!</td>
        <%}%>
        <td><%=p.to%></td>
        <td><%=p.usersFollowing.length%></td>
        <td><%=p.dateOfFlight%></td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</div>
<%- include('../partials/footer') %>